*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFD8;
}
h6 {
    display: inline;
    width: 268px;
    height: 22px;
    margin-top: 21px;
    margin-left: 41px;
}
.name {
    display: inline;
    width: 268px;
    height: 22px;
    padding-top: 21px;
    padding-left: 10px;
    color: #C44421;
}
.menu-on {
    position: relative;
    width: 115px;
    height: 15px;
    top: 20px;
    left: -115px;
}
.sair {
    display: inline;
    width: 39px;
    height: 22px;
    margin-top: 21px;
    margin-left: -100px;
}
.button-red {
    display: inline;
    width: 15px;
    height: 15px;
    margin-top: -3px;
    margin-left: 10px;
}
.fig-supernova {
    position: fixed;
    width: 378px;
    height: 86px;
    padding-top: 0px auto;
    padding-left: 1014px;
}
.fig-balao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.balao {
    position: fixed;
    width: 857px;
    height: 183px;
    top: 134px;
    left: 292px;
}
.coletivo-codivas {
    position: fixed;
    width: 253px;
    height: 74px;
    top: 160px;
    left: 600px;
}
.texto-codivas1 {
    position: fixed;
    top: 350px;
    left: 81px;
    font-weight: 900;
    font-size: 32px;
    color: #696969;
}
.palavra{
    color:#C44421;
}
.texto-segunda {
    position: fixed;
    width: 434px;
    height: 24px;
    top: 390px;
    left: 81px;
    font-weight: 400;
    font-size: 20px;
    color: #696969;
}
/*---------------------------*/
.btn-codivas {
    position: absolute;
   
}
/*---------------------------*/
.btn-action {
    width: 150px;
    height: 50px;
    margin-top: 400px;
    margin-left: 80px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-editar-noticia {
    width: 150px;
    height: 50px;
    margin-top: 400px;
    margin-left: 80px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-editar-admin{
    width: 150px;
    height: 50px;
    margin-top: 400px;
    margin-left: 80px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-baixar {
    width: 150px;
    height: 50px;
    margin-top: 400px;
    margin-left: 80px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-pdf {
    width: 150px;
    height: 50px;
    margin-top: 400px;
    margin-left: 80px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-compartilhar {
    width: 150px;
    height: 50px;
    margin-top: 400px;
    margin-left: 80px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}

/*---------------------------*/
.btn-positiva {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-audiencia {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-alcance {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-equivalencia {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
/*---------------------------*/
.btn-cent {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-mais {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}
.btn-menos {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
}