*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFD8;
}
h6 {
    display: flex;
    width: 268px;
    height: 22px;
    margin-top: 1rem;
    margin-left: 5rem;
}
.name {
    display: flex;
    width: 268px;
    height: 22px;
    margin-top: -1.5rem;
    padding-left: 10rem;
    color: #C44421;
}
.menu-on {
    display: flex;
    width: 115px;
    height: 15px;
    margin-top: -0.3rem;
    margin-left: 9.5rem;
}
.sair {
    display: flex;
    width: 39px;
    height: 22px;
    margin-top: -1.9rem;
    margin-left: 17rem;
}
.button-red {
    display: flex;
    width: 15px;
    height: 15px;
    margin-top: -1.3rem;
    margin-left: 19rem;
}
.fig-supernova {
    display: flex;
    width: 378px;
    height: 86px;
    margin-top: -1.5rem;
    margin-left: 60rem;
}
.fig-balao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.balao {
    display: flex;
    width: 857px;
    height: 183px;
    margin-top: 5rem;
    margin-left: 20rem;
}
.coletivo-codivas {
    display: flex;
    width: 253px;
    height: 74px;
    margin-top: 2rem;
    margin-left: -45rem;
}
.texto-codivas1 {
    display: flex;
    margin-top: 5rem;
    margin-left: 5rem;
    font-weight: 900;
    font-size: 35px;
    color: #696969;
    letter-spacing: 0.1em;
}
.palavra{
    color:#C44421;
}
.texto-segunda {
    display: flex;
    width: 434px;
    height: 24px;
    margin-top: 20px;
    margin-left: 81px;
    font-weight: 400;
    font-size: 20px;
    color: #696969;
}
.btn-codivas {
    display: flex;
}
.btn-action {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
    
}
.btn-editar-noticia {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-editar-admin{
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-baixar {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-pdf {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-compartilhar {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-positiva {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-audiencia {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-alcance {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-equivalencia {
    width: 470px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-cent {
    width: 150px;
    height: 50px;
    margin-top: 3em;
    margin-left: 25em;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.texto-codivas2 {
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 20px;
    font-weight: 400;
    margin-top: 2.5em;
    margin-left: 0.5em;
}
.midia {
   width: 274px;
   height: 24px;
   font-family: 'Arial, Helvetica, sans-serif';
   font-size: 20px;
   font-weight: 400;
   margin-top: 2.5em ;
   margin-left: 4em;
   color: #C44421; 
}
.btn-mais {
    width: 30px;
    height: 30px;
    margin-top: 3.8em;
    margin-left: 1.5em;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-menos {
    width: 30px;
    height: 30px;
    margin-top: 3.8em;
    margin-left: 1.5em;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.jornal {
    display: flex;
    justify-content: left;
    margin-top: -23rem;
    margin-left: 67rem;
}
.jornal img {
    width: 269px;
    height: 409px;
}
.caixa1 {
    display: flex;
    justify-content: left;
    margin-top: -1rem;
    margin-left: 5rem;
}
.texto-codivas3 {
    width: 950px;
    height: 120px;
    font-family: 'Arial, Helvetica, sans-serif';
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #696969;
}
.caixa2 {
    display: flex;
    justify-content: left;
    margin-top: -1rem;
    margin-left: 5rem;
}
.texto-codivas4 {
    width: 950px;
    height: 120px;
    font-family: 'Arial, Helvetica, sans-serif';
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #696969;
}
.caixa3 {
    display: flex;
    justify-content: left;
    margin-top: -1rem;
    margin-left: 5rem;
}
.texto-codivas5 {
    width: 950px;
    height: 120px;
    font-family: 'Arial, Helvetica, sans-serif';
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #696969;
}
.btn-status {
    display: flex;
    justify-content: left;
    margin-top: -15rem;
    margin-left: 67rem;
}
.btn-status button {
    width: 123px;
    height: 39px;
    border-radius: 3px;
    background-color: #FFFFD8;
    border: 1px solid #C44421;
    color: #C44421;
}
.btn-status p {
    width: 23px;
    height: 24px;
    padding-top: 0.5rem;
    font-family: 'Arial, Helvetica, sans-serif';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #696969;   
}
