*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFD8;
}
h6 {
    display: inline;
    width: 268px;
    height: 22px;
    margin-top: 21px;
    margin-left: 41px;
}
.name {
    display: inline;
    width: 268px;
    height: 22px;
    padding-top: 21px;
    padding-left: 10px;
    color: #C44421;
}
.sair {
    display: inline;
    width: 39px;
    height: 22px;
    margin-top: 21px;
    margin-left: 10px;
}
.button-red {
    display: inline;
    width: 15px;
    height: 15px;
    margin-top: 21px;
    margin-left: 10px;
}
.fig-supernova {
    position: fixed;
    width: 378px;
    height: 86px;
    padding-top: 0px auto;
    padding-left: 1014px;
}
.fig-balao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.balao {
    position: fixed;
    width: 857px;
    height: 183px;
    top: 134px;
    left: 292px;
}
.coletivo-codivas {
    position: fixed;
    width: 253px;
    height: 74px;
    top: 160px;
    left: 600px;
}
.texto-codivas1 {
    margin-top: 333px;
    margin-left: 81px;
    font-weight: 900;
    font-size: 32px;
    color: #696969;
}